aiofiles==22.1.0
aiosqlite==0.19.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.0.5
async-lru==2.0.2
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blis==0.7.7
bracex==2.3.post1
catalogue==2.0.7
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
cymem==2.0.6
dash==2.7.0
dash-core-components==2.0.0
dash-cytoscape==0.2.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
en-core-web-md==3.3.0
en-core-web-sm==3.3.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
Flask==2.2.2
fonttools==4.33.3
fqdn==1.5.1
ghp-import==2.1.0
google==3.0.0
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
importlib-metadata==4.11.4
importlib-resources==5.7.1
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.4
jupyterlab-markup==2.0.0
jupyterlab-pygments==0.2.2
jupyterlab-spellchecker==0.7.3
jupyterlab-widgets==1.1.0
jupyterlab_server==2.23.0
kaggle==1.5.12
kiwisolver==1.4.2
langcodes==3.3.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mergedeep==1.3.4
missingno==0.5.1
mistune==0.8.4
mizani==0.7.4
mkdocs==1.3.1
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-include-markdown-plugin==4.0.4
mkdocs-material==8.3.9
mkdocs-material-extensions==1.0.3
mpmath==1.2.1
multimethod==1.8
murmurhash==1.0.7
natsort==8.2.0
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
nltk==3.7
notebook==6.4.11
notebook_shim==0.2.3
numpy==1.22.4
overrides==7.3.1
packaging==21.3
palettable==3.3.0
pandas==1.4.2
pandas-profiling==3.2.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.1.1
pkg_resources==0.0.0
pkgutil_resolve_name==1.3.10
platformdirs==3.6.0
plotly==5.11.0
plotnine==0.8.0
preshed==3.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.8.2
Pygments==2.12.0
pymdown-extensions==9.5
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-markdown-math==0.8
python-slugify==6.1.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.1.0
qtconsole==5.3.0
QtPy==2.1.0
regex==2022.7.9
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==10.16.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
skimpy==0.0.5
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacytextblob==4.0.0
srsly==2.4.3
stack-data==0.2.0
statsmodels==0.13.2
style==1.1.0
sympy==1.11.1
tangled-up-in-unicode==0.2.0
tenacity==8.1.0
terminado==0.15.0
text-unidecode==1.3
textblob==0.15.3
thinc==8.0.16
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
tornado==6.3.2
tqdm==4.64.0
traitlets==5.9.0
typeguard==2.13.3
typer==0.4.1
typing_extensions==4.2.0
update==0.0.1
uri-template==1.2.0
urllib3==1.26.9
visions==0.7.5
wasabi==0.9.1
watchdog==2.1.9
wcmatch==8.4.1
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.2.2
widgetsnbextension==3.6.0
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.8.0
