[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/home/devops/src/ds-study-group/jupyter/entrypoint.sh
User=devops
Group=devops
WorkingDirectory=/home/devops/src/ds-study-group/notebooks
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
